.venv/
hub/
*.pth
__pycache__/
checkpoints/
datasets/
large-datasets/
wandb/
*.ipynb
*.wav
test.py
cps/
vivoice-datasets/
output/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
.env
models/
checkpoints/
reference_audio/
recipes/
TTS/
uv.lock